body{
margin:0;
font-family:Arial;
background:url('images/xxr.png');
color:#2052C7;
overflow:hidden;
}

/* 页面切换 */
.page{
position:absolute;
width:100vw;
height:100vh;
display:flex;
align-items:center;
justify-content:center;
flex-direction:column;
opacity:0;
transform:scale(1.1);
transition:0.8s;
pointer-events:none;
}

.active{
opacity:1;
transform:scale(1);
pointer-events:auto;
}

/* ===== 高级按钮 ===== */
button{
padding:12px 22px;
border:none;
border-radius:14px;
font-size:16px;
cursor:pointer;

background:linear-gradient(135deg,#ff7eb3,#ff758c);
color:white;

box-shadow:0 8px 20px rgba(255,80,120,0.3);
transition:0.3s;
}

button:hover{
transform:scale(1.05);
}

button:active{
transform:scale(0.95);
}

/* ===== 第二幕选项居中 ===== */
label{
display:flex;
justify-content:center;
align-items:center;
padding:12px;
margin:10px;
border:1px solid #fff;
border-radius:10px;
cursor:pointer;
}

/* ===== 3D蛋糕 ===== */
#cake3d canvas{
width:300px !important;
height:300px !important;
}

/* ===== 信封 ===== */
.envelope{
width:260px;
height:180px;
background:#f5e6d3;
border-radius:10px;
position:relative;
overflow:hidden;
}

/* 蜡封 */
.seal{
position:absolute;
top:10px;
left:50%;
transform:translateX(-50%);
font-size:32px;
cursor:pointer;
z-index:3;
}

/* 纸 */
.paper{
position:absolute;
bottom:0;
width:100%;
height:80%;
background:#fff;
color:#000;
border-radius:10px 10px 0 0;
transform:translateY(100%);
transition:0.8s;
overflow-y:auto;
padding:15px;
}

.envelope.open .paper{
transform:translateY(40%);
}

/* ===== 照片雨 ===== */
.photos{
position:absolute;
width:100%;
height:100%;
overflow:hidden;
}

.photo{
position:absolute;
width:60px;
height:60px;
background:url('img1.jpg') center/cover;
border-radius:10px;
animation:fall linear infinite;
opacity:0.7;
}

@keyframes fall{
0%{transform:translateY(-100px);opacity:0}
100%{transform:translateY(120vh);opacity:1}
}

/* 明信片 */
.postcard{
position:absolute;
width:200px;
height:130px;
background:#333;
border-radius:10px;
display:flex;
align-items:center;
justify-content:center;
z-index:10;
}

.postcard-back{
color:white;
text-align:center;
}
