body{
margin:0;
font-family:Arial;
background:#000;
color:#fff;
overflow:hidden;
}

.page{
position:absolute;
width:100vw;
height:100vh;
display:flex;
align-items:center;
justify-content:center;
flex-direction:column;
opacity:0;
transform:scale(1.1);
transition:0.8s;
pointer-events:none;
}

.active{
opacity:1;
transform:scale(1);
pointer-events:auto;
}

button{
padding:12px 18px;
border:none;
border-radius:10px;
margin-top:10px;
}

/* 选项 */
label{
display:block;
padding:12px;
margin:10px;
border:1px solid #fff;
border-radius:10px;
cursor:pointer;
transition:0.3s;
}

/* 正确/错误状态 */
.correct{
background:green !important;
color:white !important;
}

.wrong{
background:red !important;
color:white !important;
}

/* 图片 */
.main-img{
width:80%;
border-radius:10px;
}

/* 信封 */
.envelope{
width:200px;
height:120px;
background:#fff;
margin-top:20px;
position:relative;
cursor:pointer;
}

.envelope:before{
content:"";
position:absolute;
border-left:100px solid transparent;
border-right:100px solid transparent;
border-bottom:60px solid #ddd;
top:0;
left:0;
transform-origin:top;
transition:1s;
}

.envelope.open:before{
transform:rotateX(180deg);
}

.letter{
display:none;
background:#fff;
color:#000;
padding:15px;
margin-top:10px;
border-radius:10px;
}
